.host {
    display: block;
}

.content-wrap {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;

    button {
        padding: 10px 20px;
        cursor: pointer;
        border: none;
        border-radius: 10px;
    }
}

.active {
    background-color: #68b668;
}
