.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #00000021;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 3;
    transition: 0.2s;
}
